{
  "type": "service_account",
  "project_id": "{{account_api_firebaseProject}}",
  "private_key_id": "{{account_api_firebasePrivateKeyId}}",
  "private_key": "{{account_api_firebasePrivateKey}}",
  "client_email": "{{account_api_firebaseClientEmail}}",
  "client_id": "{{account_api_firebaseClientId}}",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "{{account_api_firebasex509CertUrl}}"
}
