let firebase = {
    apiKey: "{{firebase_apiKey}}",
    authDomain: "{{firebase_projectId}}.firebaseapp.com",
    databaseURL: "https://{{firebase_projectId}}.firebaseio.com",
    projectId: "{{firebase_projectId}}",
    storageBucket: "{{firebase_projectId}}.appspot.com",
    messagingSenderId: "{{firebase_messagingSenderId}}"
};

let app = {
    personaAuthEndpoint: "{{sandman_server_external_url}}/REST/userPersona/authenticate",
    authActionFrameBaseUrl: "https://{{firebase_projectId}}.firebaseapp.com/__/auth/action",
    accountApiUrl: "https://{{account_api_server_external_host}}"
};

export default {firebase, app}
