{
  "software_id": "org.smarthealtit:{{bp_centiles_app_project_name}}:{{bp_centiles_app_project_version}}",
  "client_name": "BP Centiles App",
  "client_uri": "{{bp_centiles_app_server_external_url}}/index.html",
  "logo_uri": "https://content.hspconsortium.org/images/bp-centiles/logo/bpc.png",
  "launch_url": "{{bp_centiles_app_server_external_url}}/launch.html",
  "redirect_uris": [
    "{{bp_centiles_app_server_external_url}}/index.html"
  ],
  "scope": "launch online_access patient/Patient.read patient/Observation.read patient/Observation.write",
  "token_endpoint_auth_method": "none",
  "grant_types": [
    "authorization_code"
  ],
  "fhir_versions": [
    "1.0.2", "1.4.0", "1.6.0", "1.8.0", "3.0.1"
  ]
}
