{
  "software_id": "org.smarthealthit:{{growth_chart_app_project_name}}:{{growth_chart_app_project_version}}",
  "client_name": "Growth Chart App",
  "client_uri": "{{growth_chart_app_server_external_url}}/index.html",
  "logo_uri": "https://content.hspconsortium.org/images/growth-chart/logo/growth-chart.png",
  "launch_url": "{{growth_chart_app_server_external_url}}/launch.html",
  "redirect_uris": [
    "{{growth_chart_app_server_external_url}}/index.html"
  ],
  "scope": "launch online_access patient/*.read",
  "token_endpoint_auth_method": "none",
  "grant_types": [
    "authorization_code"
  ],
  "fhir_versions": [
    "1.0.2", "3.0.1"
  ]
}
